/* .dropdown, .dropdown select {
    width:100%;
    height:fit-content;
} */

.Dropdown {
    width:100%;
    height:fit-content;
}

.Dropdown select {
    width:95%;
}

.Dropdown {
    margin:0.5rem 0;
}

.Dropdown label {
    display: block;
    font-size: 90%;
    margin-bottom:2%;
}