.ResultContainer{
    text-align: center;
    margin: 0 auto;
    width:100%;
}

.ResultContainer > ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.ResultContainer > ul > li {
    margin: 1rem;
}