.DropDownContainer {
    margin:2.5% 0;
    width:100%;
}

.DropDownContainer select {
    width:100%;
}

.DropDownContainer div {
    width:100%
}

.DropDownContainer label {
    display: block;
    font-size: 90%;
    margin-bottom:1%;
}