.Switch {
    padding: 0;
    margin: 0 2%;
    width:10px;
    height:5px;
    background-color: transparent;
    border: none;
    outline:none;
}

.Switch > .track {
    padding:none;
    margin:none;
    width:100%;
    height:100%;
    background-color: #DDD;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    box-shadow: inset 0 0 2px 0px hsl(0,0%,40%);
}

.Switch > .slider {
    width:66.66%;
    height:133.33%;
    border-radius: 50%;
    background-color:white;
    cursor: pointer;
    transition: 200ms all ease-in-out;
    position: absolute;
    left:0%;
    top:50%;
    transform:translate(-50%,-50%);
    box-shadow: inset 0 0 2px 0px hsl(0,0%,40%), 0 0 1px 0px hsl(0,0%,40%); 
}

.small  {width:20px; height:10px;}
.medium {width:30px; height:15px;}
.large  {width:45px; height:22.5px;}
.huge   {width:60px; height:30px;}
