.dropdown, .dropdown select {
    width:100%;
    height:auto;
}

.dropdown {
    margin:0.5rem 0;
}

.dropdown select {
   
}

.dropdown label {
    display: block;
    font-size: 90%;
    margin-bottom:2%;
}