:root {
    /* wieghts and measures */
    --width:200px;
    --border-width:3px;

    --height:calc(var(--width)/2);
    --trapeziem-height:calc(var(--height)/2);
    --trapeziem-width:calc(var(--trapeziem-height)*1.5);

    /* colour palette */
    --envelope-border-colour:#3a4267 ;
    --envelope-colour: #F0EAD6;
}

#contact-wrapper {
    position: absolute;
    width:fit-content;
    left:calc(100vw/2 - var(--width)/2);
    bottom:calc(var(--footer-height) + 12%);
}

#contact-wrapper > h3 {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

#envelope {
    position: relative;
    width:fit-content;
    cursor: pointer;
}

#envelope-lid, #email-form, #envelope-body {
    position: absolute;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------ EMAIL FORM ------------------------------------ */
/* ------------------------------------------------------------------------------ */

#email-form {
    margin-left: calc(var(--width) * 0.025);
    width: calc(var(--width) * 0.95);
    transition: all 500ms ease-in-out;
    height: calc(var(--height));
}

#email-form:hover{
    cursor: default;
}

#submit-btn {
    text-align: center;
    margin: auto;
}

#fold-bottom, #fold-top {
    background-color: white;
    width:100%;
    height:calc(var(--height));
    padding:1rem 1rem 0 1rem;
}



#fold-bottom {
    transform-origin: top;
    padding-bottom: 1rem;
    border-top:1px solid rgba(125,125,125,0.2);
}

#name, #email {
    width:100%;
    height:auto;
    margin-top:0.5rem;
    padding:0.5rem;
    display: block;
    border: none;
    border-bottom: 1px solid var(--imperial-blue);
}

#name:focus, #email:focus {
    outline:none;
}

#name {
    margin-top:36px;
}

#message {
    /* background-image: url('../images/line.png'); */
    background-position: cover;
    background-attachment: local;
    line-height: 1.55;
    resize:none;
    overflow:scroll;
    height:100%;
    width:100%;
    padding:0 0.5rem;
    border:none;
    border-radius: none;
}

#message:focus {
    outline:none;
}

/* transition properties  */
.open {
    transform: rotateX(180deg);
}

.slide-up {
    transform: translateY(calc(var(--height)* -4/3));
}

.transition {
    transition: all 500ms linear;
}

.fold-up {
    transform: rotateX(180deg);
}

.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}
.z4 {z-index: 4;} 

@media (min-width: 200px) { :root { --width:200px; } }
@media (min-width: 300px) { :root { --width:300px; } }
@media (min-width: 400px) { :root { --width:400px; } }
@media (min-width: 500px) {
    :root { --width:500px; }
    .slide-up { transform: translateY(calc(var(--height)* -2/3));}
    #name, #email { padding:1rem }
    #email-form { 
        height: calc(var(--height)*(2/3));
    } 
    #fold-bottom, #fold-top {
        height:calc(var(--height)*(2/3));
    }
}
@media (min-width: 600px) { :root { --width:600px; } }
@media (min-width: 768px) { :root { --width:600px; } }
@media (min-width: 992px) { :root { --width:600px; } }
@media (min-width: 1200px) { :root { --width:600px; } }